h1 {
  font-size: 150%;

  a {
    text-decoration: none;
  }
}

h2 {
  font-size: 120%;
  font-weight: 600;
}

h3 {
  font-size: 110%;
}

h4 {
  font-weight: bold;
}

h5 {
  font-style: italic;
  color: green;
}

h6 {
  color: coral;
}

foo